@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
section > header [epub|type~="epigraph"]{
	display: table;
}
}
/* End epigraphs in section headers */

/* poetry in an epigraph */
[epub|type~="epigraph"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="epigraph"] p > span + br{
	display: none;
}

/* poetry */
[epub|type~="poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="poem"] p > span + br{
	display: none;
}

[epub|type~="poem"] + p{
	text-indent: 0;
}
